rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == 'BEeiVtpSVWZuHYbo97InnqmI1DC2';
    }

    match /leaderboard/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /chatUsage/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /plaza/{postId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }

    match /reports/{reportId} {
      allow create: if request.auth != null;
      allow read: if false;
    }

    match /sharedPacks/{packId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.authorId;
      allow update: if request.auth != null && request.auth.uid == 'BEeiVtpSVWZuHYbo97InnqmI1DC2';
    }

  }
}
